
<nav>
    <div class="container">
        <a href="post-list" class="link"><h2 class="logo"><span class="semi-title">Vinci.</span>Space</h2></a>
        <div class="search-bar">
            <i class="uil uil-search"></i>
            <input
            type="search"
            placeholder="Search for creators, inspirations and projects"
            />
        </div>
        <div class="create">
            <label class="btn btn-primary" for="create-post"><a class="create" href="post-add">Create</a></label>
            <div class="profile-pic">
                <img src="https://media.macphun.com/img/uploads/customer/how-to/579/15531840725c93b5489d84e9.43781620.jpg?q=85&w=1340" alt="pic 1" />
            </div>
        </div>
    </div>
</nav>