
<app-header></app-header>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left">
               <img src="{{form.value.imgPath}}">
            </div>
			<div class="right">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h2 *ngIf="editmode===false">Create Post</h2>
				        <h2 *ngIf="editmode===true">Edit</h2>
				<input type="text" class="field" placeholder="Image Address" formControlName="imgPath">
				<input type="text" class="field" placeholder="Hashtag"  formControlName="title">
				<textarea placeholder="Caption" class="field" formControlName="description"></textarea>
				<button type="submit" class="btn" [disabled]="form.invalid" *ngIf="editmode===false">Create</button>
                <button type="submit" class="btn" [disabled]="form.invalid" *ngIf="editmode===true">Edit</button>
                </form>
			</div>
		</div>
	</div>
</body>
