<a class="profile" *ngIf="user$ | async as user">
    <div class="handle">
        <h4 >Welcome {{user.username}}</h4>
        <p class="text-muted" >{{user.email}}</p>
    </div>
</a>
    <div class="sidebar">
      <a class="menu-item" href="post-list">
        <span><mat-icon>home</mat-icon></span> <h3>Home</h3>
      </a>
      <a class="menu-item " href="bookmarks">
        <span><mat-icon>bookmark</mat-icon></span> <h3>Favorite</h3>
      </a>
      <ng-container *ngIf="user$ | async as user">
      <a class="menu-item " routerLink="login" (click)="logout()">
        <span><mat-icon>logout</mat-icon></span> <h3>Logout</h3>
      </a>
      </ng-container>
  </div>