
<div class="feeds" *ngIf="user$ | async as user">
    <div class="feed">
        <div class="head">
            
        </div>
         <div class="user">
             <div class="profile-pic">
                 <img src="{{post?.profilepic}}">
             </div>
             <div class="info">
                 <h3>{{post?.auth}}</h3>
                 <small>{{post?.date}}</small>
                 <div *ngIf="user.username === post?.auth">
                 <mat-icon (click)="deleteButton()">delete</mat-icon><mat-icon (click)="editButton()">edit</mat-icon>
                 </div>
             </div >
         </div>

         <div class="photo">
             <img src="{{post?.img}}" alt="">
         </div>

         <div class="caption">
             <p><b></b>{{post?.description}}
            <span class="hash-tag"> #{{post?.title}}</span></p>
         </div>
            <mat-icon (click)="onLike()">favorite</mat-icon><small>{{post?.like}}</small>
             <mat-icon (click)="post && onBookmarkPost(post)">bookmark</mat-icon>

             <div *ngFor="let c of post?.comment"></div>
         
         
        <div class="comments-container">
            <h1>Comments</h1>
            <form (submit)="addComment()">   
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    </div>
                    <div  class="comments text-muted"><input type="text" class="comment" placeholder="Comment here" [(ngModel)]="newComment" name="newComment" required >
                    <button type="submit" mat-raised-button color="primary">Comment</button></div>
                </div>
            </form>
            <div class="show-comments" (click)="toggleComments()">
                <label *ngIf="!showComments">Show Comments...</label>
            <label *ngIf="showComments">Hide Comments...</label>
        </div >
        <div *ngIf="showComments">
            <div *ngFor="let c of post?.comment">
            <ul id="comments-list" class="comments-list">
                <li>
                    <div class="comment-main-level">
                        <div class="comment-avatar"><img [src]="c.profilepic" alt=""></div>
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name by-author"><a >{{c.commenter}}</a></h6>
                                <mat-icon (click)="likeComment(c)">favorite</mat-icon><small>{{c.likes || 0}}</small>
                                <mat-icon (click)="deleteComment(c)" *ngIf="user.username === c?.commenter">delete</mat-icon>
                                <div class="comment-content">
                                    {{c.text}}
                                    
                                 </div>
                            </div>
                           
                            <div *ngFor="let c of post?.comment">
                              </div>
                              


                              <div *ngFor="let reply of c.replies">
                                <ul class="comments-list reply-list">
                                    <li>
                
                                        <div class="comment-avatar"><img [src]="reply.profilepic" alt=""></div>
                
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name"><a href="#">{{reply.username}}</a></h6>
                                            </div>
                                            <div class="reply-content">
                                                {{reply.reply}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                              </div>
                            
                              <form (submit)="replyToComment(c, replyText.value)">
                                <div  class="comments text-muted"><input #replyText type="text"  class="replycomment" placeholder="reply" required >
                                  <button type="submit" mat-raised-button color="primary">Reply</button></div>
                              </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    </div>
</div>