img{
  max-width: 20rem;
  max-height: 20rem;
 }
 .next-page{
   border: none;
   background-color: hsl(252, 75%, 60%);
   margin-right: 20px;
   border-radius: .2rem;
   color: white;
 }
 .recent{
   color: white;
   border: none;
   background-color: hsl(252, 75%, 60%);
   margin-right: 20px;
   border-radius: .2rem;
 }
 .cancel{
   border: none;
   background-color: rgb(232, 71, 71);
   margin-right: 20px;
   border-radius: .2rem;
 }
 .buttons{
   align-items: center;
   display: -webkit-flex;
   justify-content:space-between;
 }
 ::ng-deep .mat-dialog-content {
   background-repeat: no-repeat;
 }
.delete{
  display: inline-block;
  background-color: rgb(231, 90, 90);
  color: white;
  border-radius: 50%;
  border: none;
}
