<app-header></app-header>
<body>
<main *ngIf="user$ | async as user">

    <div class="container">
        <div class="left"  >
             <app-sidebar></app-sidebar>
          </div>

<div class="middle">
<div class="card">
    <div class="cover-photo">
        <img *ngIf="editmode;" [src]="user?.photoUrl ?? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'" class="profile">
        <img *ngIf="!editmode;" [src]="profileUser?.photoUrl ?? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'" class="profile">
    </div >
    <button  *ngIf="editmode;" class="edit-button" mat-mini-fab (click)="inputfield.click()">
        <mat-icon>edit</mat-icon>
    </button>
    <input #inputfield type="file" hidden (change)="uploadImage($event, user)">
    <div *ngIf="editmode;">
    <h3 class="profile-name">{{user.username}}</h3>
    <p class="about" *ngIf="editmode;">{{user?.bio}} </p>
    </div>
    <div *ngIf="!editmode;">
        <h3 class="profile-name">{{profileUser?.username}}</h3>
        <p class="about">{{profileUser?.bio}} </p>
        </div>
    <div class="icons">
        <mat-icon>linkedin</mat-icon>
        <mat-icon>facebook</mat-icon>
        <mat-icon>telegram</mat-icon>
        <mat-icon>email</mat-icon>
    </div>
</div>
</div>



<div class="right" *ngIf="editmode;">
    <div class="messages">
      <div class="heading" >
          <h4>Edit Profile</h4>
          <span><i class="uil uil-edit"></i></span>
      </div>
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
            <div  class="comments text-muted">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi" formControlName="email" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Bio</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..." placeholder="" formControlName="bio" required></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi" formControlName="username" required>
                </mat-form-field>
              <button type="submit" mat-raised-button color="primary">Done Editing</button></div>
          </form>
      </div>
    </div>

</div>

</main>
</body>
