<app-header></app-header>
<main *ngIf="user$ | async as user">

    <div class="container">
        <div class="left"  >
             <app-sidebar></app-sidebar>
          </div>
          
<div class="middle">
<div class="card">
    <div class="cover-photo">
        <img [src]="user.photoUrl ?? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'" class="profile">
        
    </div>
    <button class="edit-button" mat-mini-fab (click)="inputfield.click()">
        <mat-icon>edit</mat-icon>
    </button>
    <input #inputfield type="file" hidden (change)="uploadImage($event, user)">
    <h3 class="profile-name">James Carson</h3>
    <p class="about">{{user.bio}} </p>
    <div class="icons">
        <mat-icon>linkedin</mat-icon>
        <mat-icon>facebook</mat-icon>
        <mat-icon>telegram</mat-icon>
        <mat-icon>email</mat-icon>
    </div>
</div>
</div>


  
<div class="right">
    <div class="messages">
      <div class="heading">
          <h4>Edit Profile</h4>
          <span><i class="uil uil-edit"></i></span>
      </div>
<form [formGroup]="profileForm" (ngSubmit)="saveProfile()"> 
      <div  class="comments text-muted">
        <label>Email</label>
        <input type="text" class="edit" placeholder="" formControlName="email" required >
        <label>Bio</label>
        <input type="text" class="edit" placeholder="" formControlName="bio" required >
        <label>Username</label>
        <input type="text" class="edit" placeholder="" formControlName="username" required >
        <button type="submit" mat-raised-button color="primary">Edit</button></div>
    </form>
    </div> 

</div>
</div>
</main>